@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Roboto+Mono:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons-wind.css');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

/* bjm */

.flex-container {  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}

.panel {
  background: black;
  color: white;

  height: 300px;
  width: 100%;
  overflow: hidden;
  flex: 1 0 auto;
  padding: 0.75%;
  margin: 0.75%;
  box-shadow: 2px 2px 1px 1px rgba(200, 200, 200, 0.5);

  display: flex;
  flex-flow: column nowrap;
}

.panel-width-1 {
  flex-basis: 97%;
}

.panel-width-2 {
  flex-basis: 47%;
}

.panel-width-3 {
  flex-basis: 30%;
}

.panel-width-4 {
  flex-basis: 22%;
}

.panel-height-1 {
  height: 800px;
}

.panel-height-2 {
  height: 400px;
}

.panel-height-3 {
  height: 200px;
}

.panel-height-4 {
  height: 100px;
}

#weather-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: center;
}

.weather-day {
  font-size: 14px;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 18%;
  margin: 0.5%;
  border-right: 1px solid white;
}

.weather-day:last-child {
  border-right: none;
}

.weather-icon {
  font-size: 32px;
}

.current-weather-day {
  display: flex;
  flex-flow: column nowrap;
}

.current-weather-icon {
  font-size: 120px;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.current-weather-temp {
  font-size: 80px;
}

.current-weather-desc {
  font-size: 30px;
}

.current-weather-topline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.current-weather-bottomline {
  font-size: 20px;
  display: flex;
  flex-flow: column nowrap;
}

.current-weather-bottom-element {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.climate-box {
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 18%;
  margin: 0.5%;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
}

.climate-block {
  display: flex;
  flex-flow: row nowrap;
}

.climate-icon {
  font-size: 32px;
  padding: 0 5px;
}

.climate-temps {
  font-size: 12px;
  display: flex;
  flex-flow: column nowrap;
}

.climate-individual-temp {
  justify-content: space-between;
  display: flex;
}

.light-list {
  display: flex;
  flex-flow: column nowrap;
}

.light-box {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid white;
  padding: 5px;
  margin: 5px;
  justify-content: space-between;
}

.message-single {
  font-size: 20px;
  padding: 15px 0;
  border-bottom: 1px solid white;
}

.message-single:last-child {
  border-bottom: none;
}

.maslow-icon {
  text-align: center;
}

.maslow-icon i {
  font-size: 80px;
};

@media (max-width: 720px) {

  .panel-width-2 {
    flex-basis: 97%;
  }

  .panel-width-3 {
    flex-basis: 47%;
  }

  .panel-width-4 {
    flex-basis: 47%;
  }
}
